.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-color: black;
   border-width: 10px;
   border-style: groove;
   background-color: blanchedalmond;
}

